<%= form_for(menu) do |f| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
  <%= f.fields_for :entrees do |entree| %>
    <%= render 'entree_fields', f: entree %>
  <% end %>
  <%= link_to_add_association "Add entree", f, :entrees %>
  </div>

  <div class="field">
  <%= f.fields_for :desserts do |dessert| %>
    <%= render 'dessert_fields', f: dessert %>
  <% end %>
  <%= link_to_add_association "Add dessert", f, :desserts %>
  </div>

  <div class="field">
  <%= f.fields_for :beverages do |beverage| %>
    <%= render 'beverage_fields', f: beverage %>
  <% end %>
  <%= link_to_add_association "Add beverage", f, :beverages %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
