<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @menu.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
