<p id="notice"><%= notice %></p>

<h1>Events</h1>


<% @events.each do |event| %>
  <div class=event-index>
    <p><%= link_to image_tag(event.image), event_path(event.id) %></p>
    <h3><%= event.name %></h3>
    <p><%= event.description %></p>
    <p><%= event.date %></p>
    <% if current_user %>
      <p><%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
<% end %>

<%= will_paginate @revents %>
