<h1>Contact Us</h1>
<%= form_tag contact_forms_path, method: :post do %>
  <div class="field">
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, nil, class: 'form-control', required: true %>
  </div>
  <div class="field">
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, nil, class: 'form-control', required: true %>
  </div>
  <div class="field">
    <%= label_tag :phone %>
    <%= telephone_field_tag :phone, nil, class: 'form-control', required: false %>
  </div>
  <div class="field">
    <%= label_tag :email %>
    <%= email_field_tag :email, nil, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= label_tag :message %>
    <%= text_area_tag :message, nil, class: 'form-control', required: true %>
  </div>

  <%= submit_tag 'Send!', class: 'actions' %>
<% end %>
