<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :new %>
    <%= f.text_field :new %>
  </div>

  <div class="field">
    <%= f.label :create %>
    <%= f.text_field :create %>
  </div>

  <div class="field">
    <%= f.label :edit %>
    <%= f.text_field :edit %>
  </div>

  <div class="field">
    <%= f.label :update %>
    <%= f.text_field :update %>
  </div>

  <div class="field">
    <%= f.label :delete %>
    <%= f.text_field :delete %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
