<p id="notice"><%= notice %></p>

<h1>Events</h1>


<% @events.each do |event| %>
  <div>
    <p><%= link_to image_tag(event.image), event_path(event.id) %></p>
    <p><%= event.name %></p>
    <p><%= event.description %></p>
    <p><%= event.date %></p>
    <% if current_user %>
      <p><%= link_to 'Show', event %> | <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <%= link_to 'New Event', new_event_path %>
    <% end %>
  </div>
<% end %>
<%= will_paginate @revents %>
