<!DOCTYPE html>
<html>
  <head>
    <title>Purple Mint Catering</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flashes">
      <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p id="alert"><%= flash[:alert] %></p>
      <% end %>
    </div>
    <div class="top-image">
      <a href="/"><img class="banner" src="http://i.imgur.com/JqWLElo.png" /></a>
    </div>
    <nav>
      <ul class="navigation">
        <%= icon('navicon', class: 'sprocket' ) %>
        <li class="choices"><%= link_to 'ABOUT', about_path %></li>
        <li class="choices"><%= link_to 'MENU', menus_path %></li>
        <li class="choices"><%= link_to 'EVENTS', events_path %></li>
        <li class="choices"><%= link_to 'CONTACT US', new_contact_form_path %></li>
        <% if current_user %>
          <li>Logged in as <%= current_user.first_name %></li>
          <li><%= link_to "Add/Edit/Delete Homepage Images", images_path %>
          <li><%= link_to "Log Out", session_path(current_user), method: 'delete'  %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
  <%# console %>
</html>
